@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.ProseMirror {
  min-height: 300px;
  padding: 4px 8px;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror h1 {
  @apply text-2xl font-bold my-4;
}

.ProseMirror h2 {
  @apply text-xl font-bold my-3;
}

.ProseMirror h3 {
  @apply text-lg font-bold my-2;
}

.ProseMirror ul {
  @apply list-disc pl-6 my-2;
}

.ProseMirror ol {
  @apply list-decimal pl-6 my-2;
}

.ProseMirror p {
  @apply my-2;
}